= form_with model: @deck, local: true do |form| 
  - if @deck.errors.any? 
    %div{:id=>"error_explanation"}
      %h2
        = pluralize(@deck.errors.count, "error") 
        prohibited this article from being saved:
      %ul
        - @deck.errors.full_messages.each do |msg| 
          %li= msg 
  %p{:class=>"form-group"}
    = form.label :name 
    %br
    = form.text_field :name  
  %p{:class=>"form-group"}
    = form.label :description 
    %br
    = form.text_area :description,:class=>"form-control" 
  %p
    =form.submit :class=>["btn","btn-default"]  
